.info-dot{
  position: relative;
  // border: 1px solid red;
  cursor: pointer;
  background: transparent;
  border:none;
}
.info-dot__circle{
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.info-dot__radius{
  width: 32px;
  height: 32px;
  
  border: 0.86px solid #fff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);

  animation: pulse 1s infinite alternate;
  // pointer-events: none;
}
.info-dot:hover .info-dot__radius{
  animation: pulse 1s infinite alternate paused;
}

.info-dot:hover .info-dot__circle{
  background-color: #E58411;
}
@keyframes pulse{
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.2);
  }
}
.header__dot {
  position: absolute;

  @include mobile-xl() {
display: none;
  }
}

.header__dot--sofa{
  left: calc(290 * 100% / 1440 ); //1440 = 100% 296=x //x=296*100/1410
  top: calc(685 * 100% / (1084 - 15) ); // 1084
}

.header__dot--vase{
  left: calc(100 * 100% / (1440 - 15 ) ); //1440 = 100% 296=x //x=296*100/1410
  top: calc(715 * 100% / (1084 - 21) ); // 1084
}

.header__dot--item{
left: calc(787 * 100% / (1430 - 10 ) ); //1440 = 100% 296=x //x=296*100/1410
  top: calc(810 * 100% / (1125 - 8) ); // 1084
}

.header__dot--wall{
  right: calc(40 * 100% / (1430 - 20 ) ); //1440 = 100% 296=x //x=296*100/1410
  top: calc(830 * 100% / (1125 - 15) ); // 1084
}