.read__more {
  display: inline-flex;
  gap: 13px;
  align-items: center;
  color: #E58411;
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  /* 25.9px */

  &::after{
    content: url(./../img/icons/arrow-right.svg);
    height: 13px;
  }
  &--big{
    font-size: 18px;
  }
}